<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.title}">Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div id="header">
        <img src="../logo_half_horizontall.svg" width="200px">
        <nav>
            <a href="home.html" class="nav-punkt-selekted" th:text="#{home.title}">Главная</a>
            <a href="home.html" th:text="#{services.title}">Услуги</a>
            <a href="home.html" th:text="#{team.title}">Команда</a>
            <a href="home.html" th:text="#{vacancies.title}">Вакансии</a>
            <a href="home.html" th:text="#{contacts.title}">Контакты</a>
        </nav>
    </div>
</header>
<div id="baseContainer">
    <!--<h2 th:text="'Hello, '+${username}+'!!!'">Hello, Username!!!</h2>-->
    <!--<p>
        <span th:text="${@homeController.getText('asdfg')}">Test text</span>
    </p>-->
    <span th:text="${justWord}">For just word</span>
    <div class="mini-cards">
        <div>
            <span class="panel-mini-header" th:text="#{sofoware.development.title}">Разработка ПО</span>
            <div class="panel-mini">
                <div class="sprite-chapter1"></div>
                <p th:text="#{sofoware.development.text.mini}">Наша компания реализует как полный цикл разработки, так и частичный, в зависимости от
                                                                     потребности заказчика. При разработке
                    корпоративного ПО
                    мы используем существующие ITIL технологии, разработанные и поддерживаемые известными, зарекомендовавшими себя компаниями...
                </p>
            </div>
        </div>
        <div>
            <span class="panel-mini-header" th:text="#{business.processes.title}">Бизнес-процессы</span>
            <div class="panel-mini blue">
                <div class="sprite-chapter2"></div>
                <p th:text="#{business.processes.text.mini}">
                    Компания Borth E-Commerce помогает руководителям и менеджерам предприятий переложить все необходимые процессы, протекающие в организации, на
                    реально работающую платформу и сделать управление компанией осязаемым...
                </p>
            </div>
        </div>
        <div>
            <span class="panel-mini-header" th:text="#{web.development.title}">Web-разработка</span>
            <div class="panel-mini blue">
                <div class="sprite-chapter3"></div>
                <p th:text="#{web.development.text.mini}">
                    На сегодняшний день Web-сайт - это неотъемлемый атрибут любой компании, коммерческой и некоммерческой. Сайт необходим как основная точка
                    доступа
                    к информации о продуктах, услугах, деятельности организации. Зачастую сайт становится основной витриной для магазинов и сервисных
                    компаний...
                </p>
            </div>
        </div>
        <div>
            <span class="panel-mini-header" th:text="#{testing.title}">Тестирование</span>
            <div class="panel-mini">
                <div class="sprite-chapter4"></div>
                <p th:text="#{testing.text.mini}">
                    Проблемы, связанные с низкой производительностью программного обеспечения или сетевой инфраструктуры, могут стать скрытой причиной
                    пробуксовки
                    любого бизнеса...
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div id="footer">
        <div>
            <b>Меню</b>
            <a href="home.html" th:text="#{home.title}">Главная</a>
            <a href="home.html" th:text="#{sofoware.development.title}">Разработка ПО</a>
            <a href="home.html" th:text="#{business.processes.title}">Бизнес-процессы</a>
            <a href="home.html" th:text="#{web.development.title}">Web-разработка</a>
        </div>
        <div>
            <a href="home.html" th:text="#{testing.title}">Тестирование</a>
            <a href="home.html" th:text="#{team.title}">Команда</a>
            <a href="home.html" th:text="#{contacts.title}">Контакты</a>
            <a href="home.html" th:text="#{vacancies.title}">Вакансии</a>
        </div>
        <div>
            <a href="home.html" th:text="#{imprint.title}">Реквизиты</a>
        </div>
        <div>
            <img src="../logo_half_horizontall_white.svg" width="100px">
            <span th:text="#{borth.e.commerce.gmbh.years}">© 2004-2017 Borth E-Commerce GMBH</span>
            <span th:text="#{all.rights.reserved}">All Rights Reserved</span>
        </div>
    </div>
</footer>
</body>
</html>