<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="baseContainer">
    <h1>Login</h1>
    <span th:text="${loginError}">Login error</span>
    <form class="input" method="post" th:action="@{/access}">
        <input placeholder="Login" id="username" name="username" autofocus="autofocus">
        <input placeholder="Password" id="password" type="password">
        <!--<button type="submit">Login</button>-->
        <input type="submit" value="Log in"/>
    </form>
</div>
</body>
</html>